nav{
    padding: 5px;
    margin: 10px;
    text-align: center;
    background-color: aquamarine;
}
button{
    padding: 3px;
    margin: 20px;
    color:antiquewhite;
    background-color: magenta;
}