/* fieldset{
    width: 500px;
} */
form{
    display: inline-block;
    padding: 10px;
    /* background-image: radial-gradient(black, green, yellow); */
}

form label{
    display: inline-block;
    width: 120px;
    }
form input{
    display: inline-block;
    width: 200px;
}

form div{
    margin: 5px;
}
.total_comp{
    text-align: center;
    background-image: linear-gradient(lightblue, yellow, pink);
}