form{
    display: inline-block;
    padding: 10px;
    background-image: radial-gradient(rgb(155, 49, 155), rgb(161, 222, 161), rgb(174, 110, 110)) 
}

form label{
    display: inline-block;
    width: 120px;
    
}

form input{
    display: inline-block;
    width: 200px;
}
form div{
  margin: 5px;
}

.total_comp{
    text-align: center;
    /* background-image: radial-gradient(rgb(155, 49, 155), rgb(26, 121, 26), rgb(157, 36, 36)) */
}
small{
    color: antiquewhite;
}

.Profilepic{
    width: 90px;
    height: 90px;
}